.navColor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;         
    background: linear-gradient(to right, black, #243F4F, black, #243F4F, black); 
}
.navLogo {
    display: flex;
    justify-content: flex-start;
}
.navButton {
    display: flex;
    justify-content: space-between;
}
.navCart {
    display: flex;
    justify-content: flex-end;
}

h1 {
    background-color: blueviolet;
}